{% extends 'base.html' %}
{% load static %}
{% block content %}
  <h1>Detalhes do Cartão</h1>

  <p><strong>Nome do Cliente:</strong> {{ cartao.cartao_cliente.nome_cliente }}</p>
  <p><strong>Número do Cartão:</strong> {{ cartao.numero_cartao }}</p>
  <p><strong>Validade:</strong> {{ cartao.validade_cartao }}</p>

<div>
<img src="{{ cartao.images_cartao.url }}"
     alt="Imagem do Cartão"
     style="width: 320px; height: 200px; border-radius: 12px; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); object-fit: cover; display: block; margin: 20px auto; overflow: hidden;">
 </div>
<div>
<a href="{% url 'definir_score_credito' cliente.id %}">Definir Score de Crédito</a>
</div>
{% endblock %}
