/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 10px base font size */
}

@media (max-width: 80em) {
    html {
        font-size: 56.75%;
    }
}

body {
    font-family: Inter, sans-serif;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #000;
    background-color: #fff;
}

/* Ajuste o tamanho da imagem do cartão para simular um cartão de crédito real */
imagem-cartao {
    width: 300px;  /* Largura de um cartão de crédito (aproximadamente) */
    height: 180px;  /* Altura de um cartão de crédito (aproximadamente) */
    object-fit: cover;  /* Garante que a imagem preencha a área sem distorcer */
    max-width: 100%;  /* Impede que a imagem ultrapasse o tamanho do contêiner */
    border-radius: 10px;
}



/* Layout Styles */
.principal {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    justify-content: start;
    gap: 2.5rem;

    /* Media Queries for smaller screens */
    @media (max-width: 59.375em) {
        gap: 1.6rem;
    }

    &--padding-b {
        padding-bottom: 7.63rem;

        @media (max-width: 30em) {
            padding-bottom: 3.12rem;
        }
    }

    &--gap {
        gap: 7.63rem;

        @media (max-width: 30em) {
            gap: 3.12rem;
        }
    }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 10px;
}

/* Header Styles */
.cabecalho {
    /* ... */
}

/* Footer Styles */
.rodape {
    /* ... */
}

/* Product Styles */
.produto {
    /* ... */
}

/* ... other sections ... */