{% extends 'base.html' %}
{% load static %}

{% block content%}
    <h3>Preencha seus dados para criar uma conta</h3>
    <form method="POST" action="">
        {% csrf_token %}
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="senha" placeholder="Senha">
            <input type="password" name="confimacao_senha" placeholder="Confirme sua Senha">
            <button type="submit">Criar Conta</button>

    </form>
    <a href="{% url 'login' %}">Já tem conta? Fazer uma Conta</a>
{% endblock %}

