{% extends 'base.html' %}
{% load static %}

{% block content%}
    <h3>Faça seu Login</h3>

    {% if erro %}
    <h4> Informações Invalida! Tente novamente ou Crie uma Conta.</h4>
    {% endif %}
    <form method="POST" action="{% url 'fazer_login' %}">
        {% csrf_token %}
            <input type="email" name="email" placeholder="Email">
            <input type="password" name="senha" placeholder="Senha">
            <button type="submit">Entrar</button>

    </form>
    <a href="{% url 'criar_conta' %}">Não tem conta? Criar Conta</a>
    <a href="#"> Esqueci minha Senha</a>
{% endblock %}

