{% extends 'base.html' %}
{% load static %}

{% block content %}

 <main class="principal">
      <section class="conta">

        <div class="conta__container">
          <div class="checkout__titulos">
            <p class="checkout__titulo">Faça seu Login</p>
          </div>
             <!-- Mensagem de erro -->
            {% if erro %}
                <div class="error-message">
                    <h4>Informações inválidas! Tente novamente ou crie uma conta.</h4>
                </div>
            {% endif %}

          <form
            class="conta__form"
            action="{% url 'fazer_login' %}"
            method="post"
          >
          {% csrf_token %}

            <div class="conta__item ">
              <label for="email">E-mail</label>
              <input name="email" type="email" placeholder="Email"  />
            </div>

            <div class="conta__item">
              <label for="senha">Senha</label>
              <input name="senha" type="password" placeholder="Senha" />
            </div>

            <button class="subtotal__botao" type="submit">
              Fazer Login
            </button>
          </form>
            <a href="{% url 'criar_conta' %}">Não tem conta? Criar Conta</a><br>
            <a href="{% url 'password_reset' %}">Esqueci minha Senha</a>
        </div>

      </section>
    </main>
{% endblock %}
