{% extends 'base.html' %}
{% load static %}

{% block content%}

    <main class="principal">
      <section class="conta">
        {% if alterado %}
          <p> Alterado com Sucesso!</p>
        {% endif %}

        {% if erro  == 'formulario_invalido' %}
          <p> Formulário Inválido! Tente Novamente</p>
        {% endif %}
        <div class="conta__container">
          <div class="checkout__titulos">
            <p class="checkout__titulo">Dados pessoais</p>
          </div>
             {% if erro == 'email_existente' %}
                <p>Já Existe um Usuário com esse Email</p>
             {% endif %}

          <form
            class="conta__form"
            action="{% url 'minha_conta' %}"
            method="post"
          >
          {% csrf_token %}
            <div class="conta__item">
              <label for="nome">Nome</label>
              <input name="nome" type="text" laceholder="Nome Completo"
                    {% if request.user.cliente.nome_cliente %}
                    value="{{ request.user.cliente.nome_cliente }}"
                    {% endif %} />
            </div>

            <div class="conta__item conta__item--email">
              <label for="email">E-mail</label>
              <input name="email" type="email" placeholder="Email" value="{{ request.user.email }}" />
            </div>

            <div class="conta__item">
              <label for="telefone">Telefone</label>
              <input name="telefone" type="number" placeholder="Telefone" value="{{ request.user.cliente.telefone }}"/>
            </div>

            <button class="subtotal__botao" type="submit">
              Salvar alterações
            </button>
          </form>
        </div>

        <div class="conta__container">
          <div class="checkout__titulos">
            <p class="checkout__titulo">Alterar Senha</p>
          </div>

            {% if erro == 'senha_incorreta' %}
                <p> Sua Senha está Incorreta</p>
            {% endif %}

            {% if erro == 'senhas_diferentes' %}
                  <p>Nova Senha e Confimação da Nova Senha estão Diferente</p>
            {% endif %}
          <form
            class="conta__form"
            action="{% url 'minha_conta' %}"
            method="post"
          >
          {% csrf_token %}
            <div class="conta__item">
              <label for="senha_atual">Senha Atual</label>
              <input name="senha_atual" type="password" />
            </div>

            <div class="conta__item">
              <label for="nova_senha">Nova Senha</label>
              <input name="nova_senha" type="password" />
            </div>

            <div class="conta__item conta__item--email">
              <label for="nova_senha_confirmacao">Confirmação da Nova Senha</label>
              <input name="nova_senha_confirmacao" type="password" />
            </div>

            <button class="subtotal__botao" type="submit">
              Salvar alterações
            </button>
          </form>
        </div>
      </section>
    </main>
{% endblock %}

